{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		Bienvenue sur Marmytho' !</h1>


	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita officia id minima nihil, libero laboriosam obcaecati ipsam, nostrum, natus odio laborum ratione non incidunt aspernatur nam corrupti praesentium eveniet dolore. Distinctio vitae sint adipisci, itaque deserunt doloremque libero rerum odio, impedit sequi ea fugit aliquid praesentium quidem, neque omnis! Sapiente?</p>
	<p>Consectetur dolor rerum temporibus distinctio, cum aliquam quam, aliquid repellendus vel iste quas repellat laborum laudantium recusandae, veniam maiores optio! Dolor eos corporis placeat quisquam, incidunt est necessitatibus dignissimos quaerat distinctio. Nisi, porro possimus? Et deleniti repudiandae explicabo tempora placeat fuga doloremque sequi laudantium assumenda soluta! Tempora ullam magni dignissimos.</p>

{% endblock %}
