{% extends 'base.html.twig' %}

{% block body %}

	<h1>
		Découvrez une nouvelle recette !</h1>


	<h2 style="padding:10px">{{ recette.nom }}</h2>

	<div class="container">
		<div class="row">
			<div class="col">
				{% for image in recette.images %}

					<img src="{{ asset('/uploads/'~image.nom) }}" alt="Image" width="600" height="400">

				{% endfor %}
				<div class="row" style="padding:20px">
					<div class="col col-md-3">
						<h2>Ingrédients</h2>
						{{ recette.ingredients }}
					</div>

					<div class="col col-md-9">
						<h2>Préparation</h2>
						{{ recette.preparation }}
					</div>
				</div>


			{% endblock %}
